.container {
  background-color: white;
  height: 52px;
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  border: 1px solid grey;
}

.selected {
  background-color: #F5FCFB;
  border: 1px solid #009E3D;
}

.leftSide {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.textWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: 15px;
}

.itemNumber {
  margin: 0;
  font-size: 16px;
}

.sectionHeading {
  color: grey;
  font-size: 0.8em;
  margin-top: 10px;
}


.chevron {
  width: 7px;
  height: 13px;
}